.vscode/*
A4_Resources/*.txt
A4_Resources/sclp_new
A4_Resources/*.spim
A4_Resources/*.ic
A4_Resources/*.eval
A4_Resources/*.sym
A4_Resources/*.ast

A5Resources/*.txt
A5Resources/sclp_new
A5Resources/*.spim
A5Resources/*.ic
A5Resources/*.eval
A5Resources/*.sym
A5Resources/*.ast

A6-Resources/sclp_new
A6-Resources/*.txt
A6-Resources/*.spim
A6-Resources/*.ic
A6-Resources/*.eval
A6-Resources/*.sym
A6-Resources/*.ast
A6-Resources/TestCases/*.ast
A6-Resources/TestCases/*.spim
A6-Resources/TestCases/*.ic
A6-Resources/TestCases/*.eval
A6-Resources/TestCases/*.sym
A6-Resources/y.output